.card {
    background-color: var(--branco);
    border-radius: 5px;
    box-shadow: 0 2px 10px 2px #00000010;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    max-width: 300px;
    padding: 0 2rem 0 2rem;
    width: 60%;
}

.card--start {
    color: var(--planos-cartao-start);
}

.card--ultra {
    color: var(--planos-cartao-ultra);
}

.card--mega {
    color: var(--planos-cartao-mega);
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 400px;
    }
}