.spotlights__panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.soptlights__panel-image {
    box-shadow: 0 2px 10px 5px #00000020;
    margin-bottom: 0.5rem;
    width: 100vw;

}

.spotlights__panel-text {}