.spotlights__title {
    color: var(--cinza-escuro);
    font-family: var(--monteserrat);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}