.plans__cards {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .plans__cards {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}