.about__text {
    line-height: normal;
    margin-bottom: 1rem;
}

.about__text--contrast {
    color: var(--cinza-escuro);
    font-weight: 700;
}

.about__text--division {
    margin-bottom: 1.2rem;
}

@media screen and (min-width: 1024px) {

    .about__text--division {
        border-bottom: 1px solid var(--cinza-medio);
        padding-bottom: 1.5rem;
    }
}